
        /* General Styles */
        /* * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        } */

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: rgb(135, 222, 135);
        }

        /* Profile Card */
        .profile-card {
            background: #fff;
            width: 600px;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            text-align: center;
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }

        .profile-card:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        }

        .profile-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid #3498db;
        }

        .profile-name {
            font-size: 22px;
            font-weight: bold;
            margin-top: 10px;
            color: #333;
        }

        .profile-designation {
            font-size: 16px;
            color: #777;
            margin: 5px 0;
        }

        .profile-bio {
            font-size: 14px;
            color: #555;
            margin: 10px 0;
            padding: 7px;
        }
        .personal-project1 {
            font-size: 14px;
            color: #555;
            margin: 10px 0;
            padding: 0 10px;
            border-radius: 50%;
        }

        .personal-project2 {
            font-size: 14px;
            color: #555;
            margin: 10px 0;
            padding: 5px;
            border-radius: 50%;
        }

        .social-icons {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 15px;
        }

        .social-icons a {
            text-decoration: none;
            color:white;
            background: #378dc6;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: 0.3s;
        }

        .social-icons a:hover {
            background: #2980b9;
            transform: scale(1.1);
        }

        @media (max-width: 400px) {
            .profile-card {
                width: 90%;
            }
        }